*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --main-text: #444457;
    --altColor: #5358b6;
  }

body{
    background-color:#f0f1f7;
    font-family: 'Source Sans Pro', sans-serif;
}
.bkgrnd{
    background-image: url(./shape.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:100vh;
}

h1{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size:3em;
    color:var(--altColor);
    margin-left:10px;
}

.container{
    width:90%;
    margin: 0 auto;
}

